<p class="data-source__report"><a class="report__link" href="{{ url }}"><span class="report__title">{{ title }}</span></a>; <span class="report__year">{{ year }}</span>; <span class="report__author">{{ author }}</span>; <span class="report__publisher">{{ publisher }}</span>;</p>
