<div class="hub-link">
  <div class="hub-link__bg-wrapper">
    <div class="hub-link__bg"><a class="hub-link__link" href="{{ url }}"><span>{{ title }}</span></a></div>
    <div class="hub-link__content">
      <h2 class="hub-link__title"><a class="hub-link__link" href="{{ url }}">{{ title }}</a></h2>
      <p class="hub-link__subtitle"><a class="hub-link__link" href="{{ url }}">{{ subtitle }}</a></p>
    </div>
  </div>
</div>
