<article {{ bem("node") }}>
  {% include "@atoms/02-text/00-headings/_heading.twig" with {
    "heading_level": 2,
    "heading": label,
    "heading_url": url,
    "heading_link_attributes": {
      'rel': 'bookmark'
    },
  } %}
  {% if logo %}
    <div class="data-source__logo">
      {% include "@molecules/components/_image.twig" with {
        "img_src": logo,
        "img_alt": 'Logo for #{label}'
      } %}
    </div>
  {% endif %}

  {% if tags %}
    <div class="data-source__tags">
      {{ tags }}
    </div>
  {% endif %}

  <div{{ content_attributes }}>
    {% for parameter in data_source_parameters %}
      <div class="data-source-parameter">
        <h2 class="data-source-parameter__heading">{{ parameter.label }}</h2>
        <p>{{ parameter.content }}</p>
      </div>
    {% endfor %}
  </div>
</article>
