<div class="toc-demo__wrapper">
  {% include '@molecules/toc/_toc.twig' %}
</div>

<div class="pl-wrapper">
  <div class="js-toc-source component-text">
    {% for i in 1..4 %}
      <h3 class="component__text__heading">{{ random(demo.texts) }}</h3>
      <p>{{ excerpt.long }}</p>
      <h3 class="component__text__heading">{{ random(demo.texts) }}</h3>
      <p>{{ excerpt.long }}</p>
      <p>{{ excerpt.long }}</p>
      <p>{{ excerpt.long }}</p>
    {% endfor %}
  </div>
</div>
